.main_div{
background-color: green;
text-align: center;
height: 300px;

color: white;

}



.div_1{

    text-align: center;
    background-color: green;
    color: white;
}

.div_4{

    text-align: center;
    color: black;


}

.div_five{

    text-align: center;
    color: black;
}
.div_ten{
text-align: center;

}
.div_eleven{
text-align: center;

}